/*Reset simple personal*/
@import "font.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "FuturaPT", sans-serif;

  overflow-x: hidden;
}
input,
textarea,
button {
  outline: none;
  border: none;

  font-family: inherit;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

/* Animation Styles */
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes correctPop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes errorShake {
  0% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes underLineExit {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes underLineEnter {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
